:root{
    --width-form : 50%;
    --width-span : 35%;
    --width-input: 70%;
    --font-input: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --blue-form: #1e85f0;
}
form{
    display: flex;
    width: var(--width-form);
    flex-direction: column;
}
label{
    display: inline-flex;
    margin-top: 1vh;
    margin-left: 2vh;
}

label > span{
    min-width: var(--width-span);
}
label > div, textarea, .input-form{
    width: var(--width-input);
}
.input-form, textarea {
    border-radius: 4px;
    border: 1.5px solid #c5c5c5;
    padding: 7px 14px;
    font-size: 16px;
    font-family: var(--font-input);
}
.input-form{
    height: 20px;
}
.input-form:focus, textarea:focus{
    outline: none;
    border: 2px solid var(--blue-form);
}

.btn-submit{
    background-color: var(--blue-form);
}