:root{
    --width-form : 40%;
    --width-span : 30%;
    --width-input: 65.8%;
    --width-select: 69%;
    --font-input: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --blue-form: hsl(211, 88%, 53%);
    --blue-form-hover: hsl(211, 74%, 35%);
}

.form-container{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    width: var(--width-form);
    flex-direction: column;
    box-shadow: 0px 0px 18px 2px #000000;
    padding: 50px;
    border-radius: 8px;
}
label{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 1vh;
}

label > span{
    min-width: var(--width-span);
}
label > div{
    width: var(--width-select);
}
.input-form, textarea {
    width: var(--width-input);
    border-radius: 4px;
    border: 1.5px solid #c5c5c5;
    padding: 7px 14px;
    font-size: 16px;
    font-family: var(--font-input);
}
.input-form{
    height: 25px;
}
.input-form:focus, textarea:focus{
    outline: none;
    border: 2px solid var(--blue-form);
}

.submit-btn-container{
    display: flex;
    justify-content: center;
}
.close-btn{
    position: relative;
    left: 97%;
    top: -7%;
}
.close-btn > button{
    outline: none;
    border: none;
    background-color: white;
    font-size: 21px;
    font-weight: bold;

}
.close-btn > button:hover{
    color: var(--blue-form-hover);
}
@media only screen and (max-width: 600px){

    form, label > div, label > span, .input-form, textarea{
        width: 100%;
    }
    label > span {
        margin-bottom: 1vh;
    }
    .form-container{
        display: block;
        width: 110vw; 
    }
}