nav{
    display: flex;
    justify-content: space-between;
    padding: 3vh 2vw;
    align-items: center;
    background-color: lightblue;
    margin-bottom: 5vh;
}


.btn{
    background-color: var(--blue-form);
    outline: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    border: none;
    height: 35px;
    width: 100px;
}
.btn:hover {
    background-color: var(--blue-form-hover);
}